@charset "utf-8";
.display-2 {
    font-family: "華康新綜藝體W9(P)";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: normal;
    color: #000000;
    background-color: #F5FF00;
    width: auto;
    border: thick solid #000000;
}
.display-3 {
    font-family: "華康新綜藝體W9(P)";
    font-size: 60px;
    background-color: #00FF81;
    border: thick double #06002A;
}
.display-4 {
    font-family: "華康平劇體W7(P)";
    font-size: 60px;
    background-color: #99BEFF;
    border: thick ridge #00264A;
    letter-spacing: 15px;
    text-align: center;
}

.display-5 {
    font-family: "華康新綜藝體W9(P)";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
	
}

.display-6 {
    font-family: luckiest-guy;
    font-style: normal;
    font-weight: 400;
	
}

.display-7 {
	font-family: "華康平劇體W7(P)";
    font-size: 60px;
    background-color: #ff96a8;
    border: solid thick;
    text-align: center;
	
}